
      /* Position text in the middle of the page/image */
    .main-section .navbar-bg .navbar {
        background-color: rgba(rgb(255, 255, 255), green, blue, alpha); /* Fallback color */
        background-color: rgba(253, 253, 253, 0.2); /* Black w/opacity/see-through */
        color: white;
        padding: 4rem 2rem;
    }

    @media (max-width: 768px){
      .main-section .navbar-bg .navbar{
        padding: 1rem 2rem;
      }
    }
    @media (max-width: 426px){
      .main-section .navbar-bg .navbar{
        background-color: #ffe268;
        padding: 1rem 2rem;
      }
    }